<section class="saves {{#unless saves.length}}hidden{{/unless}}">
  <fieldset>
    <legend>{{localize "BFREF.MENU.ABILITIES.TITLE"}}</legend>
    {{#each saves}}
    {{#if rule}}
    <hr>
    {{/if}}
    <div class="form-group">
      <div class="form-fields">
        <select name="saves.{{idx}}.ability">
          {{#each ../abilities}}
          <option value="{{@key}}" {{#if (eq ../ability.value @key)}}selected{{/if}}>{{this.label}}</option>
          {{/each}}
        </select>
      </div>
      <div class="controls flex0">
        <button type="button" data-action="deleteSave" data-idx="{{idx}}" data-tooltip="BFREF.DIALOG.DELETE">
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>
    </div>
    {{/each}}
  </fieldset>
</section>