<fieldset>
  <div class="form-group">
    <label>{{localize "BFREF.DIALOG.RULES_SEARCH"}}</label>
    <div class="form-fields">
      <input type="text" name="rule" value="{{rule.value}}" placeholder="{{rule.placeholder}}" autocomplete="off"
        list="rule-options">
      <datalist id="rule-options">
        {{#each rule.choices}}
        <option value="{{this.value}}">{{this.label}}</option>
        {{/each}}
      </datalist>
    </div>
  </div>
</fieldset>