<fieldset>
  <legend>{{localize "BFREF.DIALOG.NAME_OPTIONS"}}</legend>
  <div class="form-group">
    <label>{{localize "BFREF.DIALOG.USE_NAME"}}</label>
    <div class="form-fields">
      {{ formInput useName.field value=useName.value name="useName" type="checkbox" }}
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "BFREF.DIALOG.NAME_FORMAT.LABEL"}}</label>
    <div class="form-fields">
      <select id="nameFormat" name="nameFormat">
        <option value="none" {{#if (eq nameFormat.value "none" )}}selected{{/if}}>
          {{localize "BFREF.DIALOG.PLACEHOLDER"}}
        </option>
        <option value="lowercase" {{#if (eq nameFormat.value "lowercase" )}}selected{{/if}}>
          {{localize "BFREF.DIALOG.NAME_FORMAT.LOWERCASE"}}
        </option>
        <option value="uppercase" {{#if (eq nameFormat.value "uppercase" )}}selected{{/if}}>
          {{localize "BFREF.DIALOG.NAME_FORMAT.UPPERCASE"}}
        </option>
        <option value="capitalize" {{#if (eq nameFormat.value "capitalize" )}}selected{{/if}}>
          {{localize "BFREF.DIALOG.NAME_FORMAT.CAPITALIZE"}}
        </option>
      </select>
    </div>
  </div>
</fieldset>