<section class="attributes">
  <fieldset>
    <legend>{{localize "BFREF.DIALOG.ATTRIBUTES"}}</legend>
    <div class="form-group">
      <label>{{localize "BFREF.DIALOG.SELECT_ATTRIBUTE"}}</label>
      <div class="form-fields">
        <select name="attributePath">
          <option value="">{{localize "BFREF.DIALOG.PLACEHOLDER"}}</option>
          {{#each trackableOptions}}
          <option value="{{this.value}}" {{#if (eq ../attributePath.value this.value)}}selected{{/if}}>
            {{this.label}}
          </option>
          {{/each}}
        </select>
      </div>
    </div>
  </fieldset>
</section>