<section class="checks">
  <fieldset>
    <legend>{{localize "BFREF.DIALOG.TYPES"}}</legend>
    {{#each checks}}
    {{#if rule}}
    <hr>
    {{/if}}
    <div class="form-group">
      <div class="form-fields">
        <select name="checks.{{idx}}.type">
          <optgroup label="{{localize "BFREF.MENU.ABILITIES.TITLE"}}">
            {{#each ../abilities}}
            <option value="{{value}}" {{#if (eq ../type.value value)}}selected{{/if}}>{{label}}</option>
            {{/each}}
          </optgroup>
          <optgroup label="{{localize "BFREF.MENU.SKILLS.TITLE"}}">
            {{#each ../skills}}
            <option value="{{value}}" {{#if (eq ../type.value value)}}selected{{/if}}>{{label}}</option>
            {{/each}}
          </optgroup>
          <optgroup label="{{localize "BFREF.MENU.TOOLS.TITLE"}}">
            {{#each ../tools}}
            <option value="{{value}}" {{#if (eq ../type.value value)}}selected{{/if}}>{{label}}</option>
            {{/each}}
          </optgroup>
        </select>
      </div>
      <div class="controls flex0">
        <button type="button" data-action="deleteCheck" data-idx="{{idx}}" data-tooltip="BFREF.DIALOG.DELETE">
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>
    </div>
    {{/each}}
  </fieldset>
</section>